{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class='container'>
  <h1>Tracker</h1>
  <br>
  {% if user.is_authenticated %}
  <h1>Barang yang dibeli</h1>
  {% if barang_dibeli %}
  {% for barang in barang_dibeli %}
  <div class="row">
    <div class="col-sm-3" id="border">
      <img src="{{ barang.foto_barang }}" style="width:150px">
    </div>
    <div class="col-sm-7" id="border">
      <h1>{{ barang.nama_barang }}</h1>
      <p>{{ barang.deskripsi_barang }}</p>
      <h1>{{ barang.harga_barang }}</h1>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <h5>Tidak ada barang yang dibeli</h5>
  {% endif %}
  <br>
  <h1>Barang yang dijual</h1>
  {% if barang_dijual %}
  {% for barang in barang_dijual %}
  <div class="row">
    <div class="col-sm-3" id="border">
      <img src="{{ barang.foto_barang }}" style="width:150px">
    </div>
    <div class="col-sm-7" id="border">
      <h1>{{ barang.nama_barang }}</h1>
      <p>{{ barang.deskripsi_barang }}</p>
      <h1>{{ barang.harga_barang }}</h1>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <h5>Tidak ada barang yang dijual</h5>
  {% endif %}
  {% else %}
  <h1>Login untuk melihat tracker</h1>
  {% endif %}
</div>
{% endblock content %}