{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block heading %}
    <title>Login</title>
    {% endblock heading %}
  </head>
  <body>
    {% block content %} {% if user.is_authenticated %}
    <div>
      <h3>Logged as {{ user.username }}</h3>
    </div>
    {% else %}
    <div class="col col-md-10 offset-md-1">
      <h1>Login!</h1>
      <form method="POST" action="/accounts/login/">
        {% csrf_token %}
        {{ forms }}
        <button class="btn btn-danger" type="submit">Submit</button>
        <a
          class="btn btn-danger"
          href="{% url 'social:begin' 'google-oauth2' %}"
          >Login with Google</a
        >
      </form>
    </div>
    {% endif %} {% endblock content %}
  </body>
</html>
