{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block heading %}
    {% load static %}
    <title>Sign Up!</title>
    <link rel="stylesheet" href="{% static 'signup.css'%}" />
    {% endblock heading %}
  </head>
  <body>
    {% block content %}
    {% if user.is_authenticated %}
    <div>
      <h3>Logged as {{ user.username }}</h3>
    </div>
    {% else %}
    <div class = "col col-md-10 offset-md-2 page-title">
      <h1>Sign Up!</h1>
    </div>
    <div class = "col col-md-10 offset-md-1">
      <form action="/" method="POST">
        {% csrf_token %}
        {{ forms }}
        <button class="btn btn-lg btn-social btn-google btn-block" type="submit">Submit</button>
        <a
          class="btn btn-danger"
          href="{% url 'social:begin' 'google-oauth2' %}"
          >Login with Google</a
        >
      </form>
    </div>
    {% endif %}
    {% endblock content %}
  </body>
</html>
