<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5" id="footerbg1">
                <h5 class="footer-text-1">REUSE ME PLS</h5>
                <p class="footer-text-2">adalah website untuk mempertemukan barang yang sudah<br>
                    dipakai, untuk dijual dan digunakan kembali oleh pengguna baru.</p>
                <p class="footer-text-2"><strong>© Kelompok 8</strong></p>
            </div>
            <div class="col-sm-7" id="footerbg2">
                <ul class="footerlist">
                    <li><a style='color:white' href="/jual/">Jual Barang</a></li>
                    <li><a style='color:white' href="/">List Barang</a></li>
                    <li><a style='color:white' href="/tracker/">Tracker Pendaftaran Barang</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>