{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    {% if barang_list %}
    <h1>Beli barang</h1>
    <div class="barang_list">
        {% for barang in barang_list %}
        <div class="row">
            <div class="col-sm-2" id="border">
                <img src="{{ barang.foto_barang }}" style="width:150px">
            </div>
            <div class="col-sm-6" id="border">
                <h1>{{ barang.nama_barang }}</h1>
                <p>{{ barang.deskripsi_barang }}</p>
                <h1>{{ barang.harga_barang }}</h1>
            </div>
            <div class="col-sm-2" id="border">
                <div class="center">
                    <div class="beli">
                        {% if user.is_authenticated %}
                        <button type="button" class="save btn btn-primary" id="green">
                            Beli
                        </button>
                        {% else %}
                        <h5> LOGIN untuk membeli barang</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="barang_list">
        <h1>Belum ada barang</h1>
    </div>
    {% endif %}
</div>
{% endblock %}