{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <h1>Jual Barang</h1>
  <form method="POST" class="post-form">
    {% csrf_token %}
    {{form.as_p}}
    <div class="center">
      {% if user.is_authenticated %}
      <button type="submit" class="save btn btn-primary" id="green">
        Submit
      </button>
      {% else %}
      <h1>LOGIN untuk menjual barang</h1>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}